{% extends 'site/website/base.html' %}
{% load static %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}
{% block content %}
<section class="page_banner" style="background-image: url('assets/images/shapes/tyre_print_3.svg');">
    <div class="container">
        <ul class="breadcrumb_nav unordered_list">
            <li><a href="{% url 'webmain:home' %}">Главная</a></li>
            <li><a href="{% url 'webmain:blogs' %}">Новости</a></li>
        </ul>
        <h1 class="page_title wow" data-splitting>Новости</h1>
    </div>
</section>
<section class="blog_grid_section section_space_lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {% for blog in blogs %}
                    <div class="col-md-4 col-sm-6">
                        <div class="blog_item mb-5">
                            <a class="item_image" href="{% url 'webmain:blog' blog.slug %}">
                                <img src="{{blog.previev.url}}" alt="ProMotors - Blog Image">
                            </a>
                            <div class="item_content">
                                <ul class="item_type_list unordered_list">
                                    <li><a href="{% url 'webmain:blog' blog.slug %}!">{{blog.name}}</a></li>
                                </ul>
                                <h3 class="item_title">
                                    <a href="{% url 'webmain:blog' blog.slug %}">{{blog.description|safe|truncatechars:100}}</a>
                                </h3>
                                <ul class="post_meta unordered_list">
                                    <li>{{blog.create}}</li>
                                </ul>
                                <a class="btn-link" href="{% url 'webmain:blog' blog.slug %}">
                                    <span class="btn_icon"><i class="fa-regular fa-angle-right"></i></span>
                                    <span class="btn_text">
                                        <small>Подробнее..</small>
                                        <small>Подробнее..</small>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% include 'site/website/include/paginations.html' with items=blogs %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block footer %}{% endblock footer %}