{% extends 'site/website/base.html' %}
{% load static %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}
{% block content %}
<section class="page_banner" style="background-image: url('assets/images/shapes/tyre_print_3.svg');">
    <div class="container">
        <ul class="breadcrumb_nav unordered_list">
            <li><a href="{% url 'webmain:home' %}">Главная</a></li>
            <li><a href="{% url 'webmain:contacts' %}">Контакты</a></li>
        </ul>
        <h1 class="page_title wow" data-splitting>Контакты</h1>
    </div>
</section>
<section class="contact_section section_space_lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact_info_box"><h3 class="item_title">Адрес</h3>
                    {{settings.address|safe}}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact_info_box"><h3 class="item_title">График</h3>
                    {{settings.office_hourse|safe}}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact_info_box"><h3 class="item_title">Контакты</h3>
                    {{settings.phones|safe}}
                </div>
            </div>
            <div class="col-12">
                <div class="gmap_canvas">
{{settings.map|safe}}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block footer %}{% endblock footer %}