                        <div class="text-center flex-fill">
                            <div class="small text-uppercase mb-1">Баланс</div>
                            <div class="value"> {{ application.balance }} €</div>
                        </div>
                        <div class="text-center flex-fill">
                            <div class="small text-uppercase mb-1">Остаток</div>
                            <div class="value">{{ application.current_balance }} € </div>
                        </div>
                        <div class="text-center flex-fill">
                            <div class="small text-uppercase mb-1">Израсходовано</div>
                            <div class="value text-danger"> {{ application.expenses_total }} €</div>
                        </div>
